.Photo_list {
  display: flex;
  list-style: none;
  padding: 0;
}

.contsiner {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.header{
  font-weight: 600;
  font-size: 34px;
  font-family: 'Times New Roman', Times, serif;
}
